@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  box-sizing: border-box;
  color: #313332;
  font-family: "Lato", sans-serif; }

nav:before, nav:after {
  content: "";
  display: table;
  clear: both; }

nav {
  max-width: 1200px;
  margin: 0 auto; }
  nav div:before,
  nav div:after {
    content: "";
    display: table;
    clear: both; }

header {
  background: #313234;
  height: 78px; }
  header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    position: absolute;
    right: 0;
    top: 0; }
  header li {
    display: inline-block; }
    header li:hover {
      background: #4a4b4e; }
  header a {
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif; }
  header img, header .position, header .people:hover .position, .people:hover header .position {
    padding: 10px 0; }

.hero {
  position: relative;
  background: url(https://static.pexels.com/photos/510070/pexels-photo-510070.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 62vh;
  height: 100%;
  width: 100%; }
  .hero .slogan {
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
    width: 60%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 218px;
    right: 0; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-1 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.col-20 {
  width: 20%; }

.col-40 {
  width: 40%; }

.col-60 {
  width: 60%; }

.col-80 {
  width: 80%; }

.col-100 {
  width: 100%; }

.buttons {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  height: 100%;
  width: 100%; }

.icon-btn {
  border: 0;
  background: #313332;
  margin: 7px;
  cursor: pointer;
  font-size: 40px;
  line-height: 75px;
  color: #FFFFFF;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  height: 75px;
  width: 75px; }

.miniature {
  margin: auto; }

.text {
  padding: 0 20px; }

.qube {
  margin: 30px auto; }

.style:hover h3 {
  color: #00C7E8; }

.style:hover .icon-btn {
  background: #00C7E8; }

.featured {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px; }

.gallery, .gallery img, .gallery .position, .gallery .people:hover .position, .people:hover .gallery .position, .layer {
  padding: 0;
  height: 100%;
  width: 100%; }
  .gallery img, .gallery .people:hover .position img, .people:hover .gallery .position img, .layer img, .gallery .position, .layer .position, .gallery .people:hover .position, .people:hover .gallery .position, .layer .people:hover .position, .people:hover .layer .position {
    height: 250px; }

.image {
  height: 250px;
  position: relative; }

.area {
  margin: 10px; }

.layer {
  height: 250px;
  display: block;
  display: none;
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5); }

.box {
  display: flex;
  align-items: center;
  justify-content: center; }

.layer button {
  border: 0;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  border-radius: 15%;
  height: 45px;
  width: 45px; }

.image:hover .layer {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center; }

.people {
  margin: 30px auto;
  margin-top: 100px; }
  .people img, .people .position, .people:hover .position {
    margin-left: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 250px;
    width: 250px; }
    .people img:hover, .people .position:hover {
      cursor: pointer; }

.job {
  text-align: center; }

.position {
  color: white;
  display: block;
  display: none;
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.people:hover .position {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center; }

.about {
  margin: 40px;
  padding: 30px; }

.phone img, .phone .position, .phone .people:hover .position, .people:hover .phone .position {
  height: 250px;
  margin: 30px; }

.statistics {
  text-align: center;
  font-weight: 900;
  margin: 50px; }

.statistics-info {
  color: #00C7E8;
  font-size: 24px; }

.statistics-data {
  font-size: 48px; }

.social-media {
  font-weight: normal;
  background: #00C7E8;
  font-size: 25px;
  line-height: 45px;
  border-radius: 0;
  height: 45px;
  width: 45px; }

.contact {
  padding: 15px; }

.copyrigts {
  background: #252726;
  text-align: center;
  padding: 20px;
  color: white; }

footer {
  color: white;
  background: #313332;
  margin-top: 70px;
  padding: 35px; }
  footer h1 {
    position: relative; }
  footer h1:after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background: white;
    position: absolute;
    right: 30px;
    top: 20px; }

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  header {
    height: 253px;
    text-align: center; }
    header ul {
      float: center;
      text-align: center;
      margin-top: 50px; }
    header li {
      display: block;
      text-align: center; }
    header img, header .position, header .people:hover .position, .people:hover header .position {
      right: 50%; }

  .hero {
    position: relative;
    background: url(https://static.pexels.com/photos/170/apple-laptop-notebook-notes.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 42vh; }
    .hero .slogan {
      padding: 10px;
      position: absolute;
      top: 40%; }

  .featured h1 {
    margin-top: 0;
    padding-top: 0; }

  .about {
    margin: 0;
    padding: 10px; }

  .phone img, .phone .position, .phone .people:hover .position, .people:hover .phone .position {
    max-height: 250px;
    margin: 0; }

  .sentence {
    text-align: center; }

  .layer {
    height: 250px;
    display: block;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; }

  .box {
    display: flex;
    align-items: center;
    justify-content: center; }

  .layer button {
    border: 0;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    border-radius: 15%;
    height: 45px;
    width: 45px; }

  .position {
    color: white;
    margin-left: 30px;
    display: block;
    display: none;
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    height: 100%;
    width: 100%; }

  .people:hover .position {
    margin-left: 30px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 250px;
    width: 250px; }

  footer h1 {
    position: relative; }
  footer h1:after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background: white;
    position: absolute;
    right: 0; }

  .phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 100px; }

  .contact {
    text-align: center; } }
